In [1]:
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
import cv2
import os

import sys
sys.path.append('../')

In [2]:
train_df = pd.read_csv('../dataset/df.csv')
train_df.head()

,image_id,image_dir,category,genus,institutions
0,00000__001,../dataset/herbarium_2022/train_images/000/00/...,0,Abies,0
1,00000__002,../dataset/herbarium_2022/train_images/000/00/...,0,Abies,0
2,00000__003,../dataset/herbarium_2022/train_images/000/00/...,0,Abies,0
3,00000__004,../dataset/herbarium_2022/train_images/000/00/...,0,Abies,0
4,00000__005,../dataset/herbarium_2022/train_images/000/00/...,0,Abies,0

In [3]:
train_df.shape

(839772, 5)

In [4]:
print(len(train_df.genus.value_counts()))
print(len(train_df.category.value_counts()))
print(len(train_df.institutions.value_counts()))

2564
15501
60

In [5]:
train_df.genus.value_counts()

Carex           24743
Astragalus      15192
Penstemon       12256
Eriogonum       10063
Erigeron         7135
                ...
Werauhia            7
Geogenanthus        7
Leptotes            6
Stenomesson         6
Alsobia             6
Name: genus, Length: 2564, dtype: int64

In [6]:
train_df.isnull().sum()

image_id        0
image_dir       0
category        0
genus           0
institutions    0
dtype: int64

In [7]:
from utils.dataset_utils import LabelEncoder

/home/beomgon/anaconda3/envs/pl/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [8]:
# le = LabelEncoder(train_df)
# le.fit()
# le.transform()

In [9]:
le = LabelEncoder(train_df)
train_df = le.get_integer_labels()

In [10]:
train_df.head()

,image_id,image_dir,category,genus,institutions
0,00000__001,../dataset/herbarium_2022/train_images/000/00/...,0,0,0
1,00000__002,../dataset/herbarium_2022/train_images/000/00/...,0,0,0
2,00000__003,../dataset/herbarium_2022/train_images/000/00/...,0,0,0
3,00000__004,../dataset/herbarium_2022/train_images/000/00/...,0,0,0
4,00000__005,../dataset/herbarium_2022/train_images/000/00/...,0,0,0

In [11]:
max(le.df.category.unique())

15500

In [12]:
preds = [0 , 3, 4]

In [13]:
le.inverse_transform(preds, 'genus')

array(['Abies', 'Abutilon', 'Acaciella'], dtype=object)